{% extends "base_tmp.html" %}
{% block content %}
{% set doc_id = znakl_l_id %}
{########## COMMON HEAD #########################################################}

<div class="card mb-0">
    <div class="card-header bg-light">
        <h5 class="mb-0">
            <a href="/dispack" class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-arrow-left-short"></i> Назад</a>
            {{ docname }} № {{ data_h.NU }}
            <a href="   {% if dt == 1 %}/dispack/doc2/{{ data_h.NUM }}{% endif %}
                        {% if dt == 2 %}/dispack/doc1/{{ data_h.NUM }}{% endif %}
                        "
               class="btn btn-outline-secondary btn-sm"
               role="button">
                <i class="bi  me-1"></i> >> {% if dt == 1 %}Введення залишків{% endif %}{% if dt == 2 %}Акт ВР{% endif %}
            </a>
        </h5>
    </div>
    <div class="card-body">
<div class="row">
    <div class="col-md-2 mb-0">
        <label for="id" class="form-label fw-bold">DOC_ID:</label>
        <input type="text"
               readonly
               class="form-control-plaintext text-dark"
               id="id"
               value="{{ data_h.NUM }}">
    </div>
    <div class="col-md-2 mb-0">
        <label for="nd" class="form-label fw-bold">Дата документу:</label>
        <input type="text"
               readonly
               class="form-control-plaintext text-dark"
               id="nd"
               value="{{ data_h.DATE_DOK.strftime('%d.%m.%Y') }}">
    </div>

    <div class="col-md-2 mb-0">
        <label for="tov_name" class="form-label fw-bold">Найменування:</label>
        <input type="text"
               readonly
               class="form-control-plaintext text-primary fw-bold"
               id="tov_name"
               value="{{ data_h.TOV_NAME }}">
    </div>

    <div class="col-md-2 mb-0">
        <label for="serial" class="form-label fw-bold">Серійний:</label>
        <input type="text"
               readonly
               class="text-success  form-control-plaintext fw-bold"
               id="serial"
               value="{{ data_h.TOVAR_SER_NUM }}">
    </div>

    <div class="col-md-2 mb-0">
        <label for="sklad" class="form-label fw-bold">Підрозділ:</label>
        <input type="text"
               readonly
               class="form-control-plaintext text-dark fw-bold"
               id="sklad"
               value="{{ data_h.SKLAD_NAME }} ({{ data_h.SKLAD_ID }})">
    </div>

</div></div></div>
{% if dt == 1 %}
{####### ACTVR ########################################################################################################}
{#------ TABLE -----------------------------------------------------------------#}
<input type="text" readonly class="form-control-plaintext fw-bold"  value="Зняти з обліку">
  <table id="tDoc1" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Найменування</th>
        <th>Кількість</th>
        <th>Ціна</th>
      </tr>
    </thead>
  <tbody>
{% if  data_d %}
  {% for row in data_d %}
    <tr>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_NAME }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_KOLVO }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_CENA | currency_format_ua }}</td>
    </tr>
  {% endfor %}
{% endif %}
  </tbody>
  </table>
  {% endif %}
{######### ZNAKL #######################################################################################################}
  {% if dt == 2 %}
  {#-------- LEFT ---------------------------#}
{% if data_dl %}
<div class="row mb-3">
  <div class="col mb-3">
      <div class="d-flex align-items-center gap-3">
        <input type="text"
               readonly class="form-control-plaintext fw-bold"
               value="Підготовлено на списання {{ data_dl[0]['NU'] }}({{ data_dl[0]['NUM'] }})">
        <button type="button"
                class="btn btn-primary btn-sm"
                {% if data_dl[0]['STATUS_CODE'] == 10 %}
                    disabled
                {% endif %}
                data-bs-toggle="modal"
                data-bs-target="#newEntryModal">
          {% if data_dl[0]['STATUS_CODE'] == 10 %}
            Списано
          {% else %}
            Списати
          {%endif %}


        </button>
      </div>

  <table id="tDoc2l" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Найменування</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Вартість</th>
      </tr>
    </thead>
      <tbody>
    {% for row in data_dl %}
        <tr>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_NAME }}{% if row.SERIAL %} ({{ row.SERIAL }}) {% endif %}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_KOLVO }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_CENA | currency_format_ua }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_SUMA | currency_format_ua }}</td>
        </tr>
      </tbody>
    {% endfor %}
        <tr>
            <td colspan="1" class="text-end"><strong>Всього:</strong>
        <strong>{{ total_l | currency_format_ua }}</strong></td>
        </tr>
  </table>
</div>
{% endif %}
{#--------------------- RIGHT ---------------------------#}
    {% if data_dr %}
<div class="col mb-3">
      <input type="text" readonly class="form-control-plaintext fw-bold"  value="Оприбуткувати {{ data_dr[0]['NU'] }}({{ data_dr[0]['NUM'] }})">
    <table id="tDoc2r" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Найменування</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Вартість</th>
      </tr>
    </thead>

      <tbody>
    {% for row in data_dr %}
        <tr>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_NAME }} {% if row.SERIAL %} ({{ row.SERIAL }}) {% endif %}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_KOLVO }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_CENA | currency_format_ua}}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_SUMA | currency_format_ua}}</td>
        </tr>
      </tbody>
    {% endfor %}
        <tr>
            <td colspan="1" class="text-end"><strong>Всього:</strong>
            <strong>{{ total_r | currency_format_ua }}</strong></td>
        </tr>
  </table>
  </div>
    {% endif %}
 {% endif %}
</div>

<!--&#45;&#45; MODAL -->
<div class="modal fade" id="newEntryModal" tabindex="-1" aria-labelledby="newEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('dispack_disacc',id=doc_id) }}"> <div class="modal-header">
                    <h5 class="modal-title" id="newEntryModalLabel">Списання з обліку</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center mb-3">
                        <label for="nua" class="form-label fw-bold mb-0 me-2" style="white-space: nowrap;">Номер документу</label>
                        <input type="text" id="nua" class="form-control form-control-sm flex-grow-1" name="nua" required>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <label for="nda" class="form-label fw-bold mb-0 me-2" style="white-space: nowrap;">Дата документу</label>
                        <input type="date" id="nda" class="form-control form-control-sm flex-grow-1" name="nda" required>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="use_k" name="use_k" value="1" >
                            <label class="form-check-label fw-bold" for="use_k">Використовуючи коефіцієнт</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}