{% extends "base_tmp.html" %}
{% block content %}

{#
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--      </ul>-->
<!--      <form class="d-flex gap-2" method="post">-->
<!--        <input class="form-control" style="width: 250px;" type="search" placeholder="Серійний номер"  name = "tov_serial" value = "{{ search }}">-->
<!--        <button class="btn btn-primary" type="submit" >Шукати</button>-->
<!--        <button type="button" class="btn btn-sm btn-primary" onclick="copyTable()">📋 Копіювати таблицю</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
#}

{########## COMMON HEAD #########################################################}

<div class="card mb-0">
    <div class="card-header bg-light">
        <h5 class="mb-0">{{ docname }} № {{ data_h.NU }}
            <a href="   {% if dt == 1 %}/dispack/doc2/{{ data_h.NUM }}{% endif %}
                        {% if dt == 2 %}/dispack/doc1/{{ data_h.NUM }}{% endif %}
                        "
               class="btn btn-outline-secondary btn-sm"
               role="button">
                <i class="bi  me-1"></i> >> {% if dt == 1 %}Введення залишків{% endif %}{% if dt == 2 %}Акт ВР{% endif %}
            </a>
        </h5>
    </div>
    <div class="card-body">
<div class="row">
    <div class="col-md-3 mb-0">
        <label for="nd" class="form-label fw-bold">Дата документу:</label>

        <input type="text"
               readonly
               class="form-control-plaintext text-dark"
               id="nd"
               value="{{ data_h.DATE_DOK.strftime('%d.%m.%Y') }}">
    </div>

    <div class="col-md-3 mb-0">
        <label for="tov_name" class="form-label fw-bold">Найменування:</label>
        <input type="text"
               readonly
               class="form-control-plaintext text-dark"
               id="tov_name"
               value="{{ data_h.TOV_NAME }}">
    </div>

    <div class="col-md-3 mb-0">
        <label for="serial" class="form-label fw-bold">Серійний:</label>
        <input type="text"
               readonly
               class="form-control-plaintext text-dark"
               id="serial"
               value="{{ data_h.TOVAR_SER_NUM }}">
    </div>

    <div class="col-md-3 mb-0">
        <label for="sklad" class="form-label fw-bold">Підрозділ:</label>
        <input type="text"
               readonly
               class="form-control-plaintext text-dark"
               id="sklad"
               value="{{ data_h.SKLAD_NAME }}">
    </div>

</div></div></div>
{% if dt == 1 %}
{#--------- ACTVR -------------------------------------------------------------}
{#------ TABLE -----------------------------------------------------------------#}
<input type="text" readonly class="form-control-plaintext fw-bold"  value="Зняти з обліку">
  <table id="tDoc1" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Найменування</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Вартість</th>
      </tr>
    </thead>
  <tbody>
  {% for row in data_d %}
    <tr>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_NAME }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_KOLVO }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_CENA | currency_format_ua }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_SUMA | currency_format_ua }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  {% endif %}
{######### ZNAKL #######################################################################################################}
  {% if dt == 2 %}
  {#-------- LEFT ---------------------------#}
{% if data_dl %}
<div class="row mb-3">
  <div class="col mb-3">
  <input type="text" readonly class="form-control-plaintext fw-bold"  value="Підготувати на списання">
  <table id="tDoc2l" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Найменування</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Вартість</th>
      </tr>
    </thead>
      <tbody>
    {% for row in data_dl %}
        <tr>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_NAME }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_KOLVO }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_CENA | currency_format_ua }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_SUMA | currency_format_ua }}</td>
        </tr>
      </tbody>
    {% endfor %}
        <tr>
            <td colspan="1" class="text-end"><strong>Всього:</strong>
        <strong>{{ total_l | currency_format_ua }}</strong></td>
        </tr>
  </table>
</div>
{% endif %}
{#--------------------- RIGHT ---------------------------#}
<div class="col mb-3">
      <input type="text" readonly class="form-control-plaintext fw-bold"  value="Оприбуткувати">
    <table id="tDoc2r" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Найменування</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Вартість</th>
      </tr>
    </thead>

      <tbody>
    {% for row in data_dr %}
        <tr>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_NAME }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_KOLVO }}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_CENA | currency_format_ua}}</td>
            <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_SUMA | currency_format_ua}}</td>
        </tr>
      </tbody>
    {% endfor %}
        <tr>
            <td colspan="1" class="text-end"><strong>Всього:</strong>
            <strong>{{ total_r | currency_format_ua }}</strong></td>
        </tr>
  </table>
  </div>
 {% endif %}
</div>
{% endblock %}