{% extends "base_tmp.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ records }}{{ serch_result }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex gap-2" method="post">
        <input class="form-control" style="width: 250px;" type="search" placeholder="Назва матеріалу"  minlength="5" name = "tov_name" value="{{ tov_name }}">
        <strong> АБО </strong>
        <input class="form-control" style="width: 250px;" type="search" placeholder="Серійний номер"   minlength="5" name = "tov_serial" value="{{ search_value }}">
        <button type="submit" class="btn btn-primary">Пошук</button>
        <button class="btn btn-sm btn-primary" onclick="copyTable()">📋 Копіювати таблицю</button>
      </form>
    </div>
  </div>
</nav>


<table id="tList" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>TOVAR_ID</th>
      <th>Серійний Номер</th>
      <th>Код номенклатури</th>
      <th>Найменування</th>
      <th>Статус</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOVAR_ID }}</td>
      <td class="fw-bold text-success" style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOVAR_SER_NUM }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.KOD }}</td>
      <td class="fw-bold text-primary" style="padding-top: 1px; padding-bottom: 1px;">{{ row.TOV_NAME }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;"
          class="badge rounded-pill
                 {{ 'bg-danger text-white' if row.STATUS|trim|lower == 'втрачено' else 'bg-secondary text-light' }}
                 fs-6 px-2 py-2 shadow">{{ row.STATUS }}</td>
      <td style="padding-top: 1px; padding-bottom: 1px;"><a href="{{ url_for('ghist_details', row_id=row.SERIAL_ID) }}"
                                                            class="btn btn-sm btn-light">Деталі</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
function copyTable() {
    let table = document.getElementById("tList");
    let range = document.createRange();
    range.selectNode(table);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);
    document.execCommand("copy");
    window.getSelection().removeAllRanges();
    alert("Таблицю скопійовано в буфер 📋");
}
</script>


{% endblock %}



