{% extends "base_tmp.html" %}
{% block content %}

<style>
  .compact-cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  line-height: 1;
  .table thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  }
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex gap-2" method="post">
        <input class="form-control" style="width: 250px;" type="search" placeholder="Серійний номер"  name = "tov_serial" value = "{{ search }}">
        <button class="btn btn-primary" type="submit" >Шукати</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="copyTable()">📋 Копіювати таблицю</button>
      </form>
    </div>
  </div>
</nav>

<table id="tList" class="table table-sm table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>UDOC_ID</th>
      <th class="text-wrap" style="max-width: 80px;">Дата реєстрації</th>
      <th class="text-wrap" style="max-width: 100px;">Номер док. реєстрації</th>
      <th>Дата події</th>
      <th>Серійний №</th>
      <th>Найменування</th>
      <th>Підрозділ</th>
      <th>Дії</th>
    </tr>
  </thead>
<tbody>
  {% for row in losses %}
  <tr>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.UDOC_ID }}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.UDOC_DATE.strftime('%d.%m.%Y') }}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.UDOC_NU }}</td>
    <td class="fw-bold text-danger"  style="padding-top: 1px; padding-bottom: 1px;">
      {{ row.ACTION_DATE_TIME.strftime('%d.%m.%Y %H:%M') }}
    </td>
    <td class="fw-bold text-success" style="padding-top: 1px; padding-bottom: 1px;">
      {{ row.SERIAL }}
    </td>
    <td class="fw-bold text-primary" style="padding-top: 1px; padding-bottom: 1px;">
      {{ row.TOVAR_NAME_ }}
    </td>
    <td style="padding-top: 1px; padding-bottom: 1px;">
      {{ row.SKLAD_PARENT_NAME }}
    </td>
    <td>
      <a href="/loss_edit/{{ row.UDOC_ID }}" class="btn btn-sm btn-outline-secondary" title="Edit">
        <i class="bi bi-pencil"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}



