{% extends "base_tmp.html" %}
{% block content %}


<div class="d-flex flex-wrap align-items-center gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-3">{{ title }}</h5>
    <form class="d-flex align-items-center gap-2 m-0" method="post" style="flex-grow: 1; max-width: 800px;">
        <div class="input-group input-group-sm table-panell">
            <input class="form-control input-serial " type="search" placeholder="Найменування..." name="search" value="{{ search }}">
            <button class="btn btn-success" type="submit">Шукати</button>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm text-nowrap" onclick="copyTable()">
            📋 Копіювати
        </button>
    </form>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}?v={{ app_version }}">


<table id="tList" class="table table-main">
  <thead class="table-dark">
    <tr>
      <th>UDOC_ID</th>
      <th class="text-wrap" style="max-width: 80px;">Дата реєстрації</th>
      <th class="text-wrap" style="max-width: 100px;">Номер док. реєстрації</th>
      <th>Дата події</th>
      <th>Найменування</th>
      <th>Підрозділ</th>
    </tr>
  </thead>
<tbody>
  {% for row in losses %}
  <tr>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.UDOC_ID }}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.UDOC_DATE.strftime('%d.%m.%Y') }}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.UDOC_NU }}</td>
    <td class="fw-bold text-danger"  style="padding-top: 1px; padding-bottom: 1px;">
      {{ row.ACTION_DATE_TIME.strftime('%d.%m.%Y %H:%M') }}
    </td>
    <td class="fw-bold text-primary" style="padding-top: 1px; padding-bottom: 1px;">
      {{ row.TOVAR_NAME_ }}
    </td>
    <td style="padding-top: 1px; padding-bottom: 1px;">
      {{ row.SKLAD_NAME }}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
 <script src="{{ url_for('static', filename='js/tables.js') }}"></script>
    <script>
        $(document).ready(function() {
            initDefaultDataTable('#tList', {
                "pageLength": 25 // Можна змінити параметри тільки для цієї сторінки
            });
        });
    </script>
{% endblock %}