{% extends "base_tmp.html" %}
{% block content %}

<style>
/* Додайте це до вашого CSS. Це гарантує, що текст переноситься */
.table-responsive th,
.table-responsive td {
    white-space: normal !important;
}

/* Якщо вам потрібен менший шрифт, додайте це теж */
.custom-font-small {
    font-size: 14px;
}
</style>
{#
<div class="d-flex flex-wrap align-items-left gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-2 ">{{ title }}</h5>
    <form class="d-flex" method="post" style="margin: 0;">
        <div class="input-group input-group-sm table-panell" >
            <input class="form-control input-serial" type="search" placeholder="Серійний..." name="search" value="{{ search }}">
            <button class="btn btn-success " type="submit">Шукати</button>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm" onclick="copyTable()">
            📋 Копіювати
        </button>
    </form>
</div>#}

<div class="d-flex flex-wrap align-items-center gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-3">{{ title }}</h5>
    <form class="d-flex align-items-center gap-2 m-0" method="post" style="flex-grow: 1; max-width: 800px;">
        <div class="input-group input-group-sm table-panell">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalAdd">
                ➕ Додати
            </button>
            <input class="form-control input-serial " type="search" placeholder="Серійний..." name="search" value="{{ search }}">
            <button class="btn btn-success" type="submit">Шукати</button>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm text-nowrap" onclick="copyTable()">
            📋 Копіювати
        </button>
    </form>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}?v={{ app_version }}">


<!--<div class="table-responsive">-->
<table id="tList" class="table table-sm table-compact">
  <thead class="table-dark">
    <tr>
      <th class="text-wrap" style="max-width: 80px;">№ документу</th>
      <th class="text-wrap" style="max-width: 80px;">Дата документу</th>
      <th>Постачальник</th>
      <th>Стаття надходження</th>
      <th class="text-wrap" style="max-width: 100px;">№ док. постач.</th>
      <th class="text-wrap" style="max-width: 100px;">Дата док. постач.</th>
      <th>ID товару</th>
      <th>Номенк. №</th>
      <th>Найменування</th>
      <th>Кількість</th>
      <th>Ціна</th>
    </tr>
  </thead>
    <tbody>
  {% for row in data %}
  <tr>
    <td class="col-limit">{{ row.NU }}</td>
    <td class="col-limit">{{ row.DATE_DOK.strftime('%d.%m.%Y') }}</td>
    <td class="col-limit"  >{{ row.CLIENT }}</td>
    <td class="col-limit">{{ row.A_NAME }}</td>
    <td class="col-limit">{{ row.P_NU }}</td>
    <td class="col-limit">{{ row.P_DATE_DOK }}</td>
    <td class="col-limit">
      <a href="/mnakl?tovar_id={{ row.TOVAR_ID }}"
         title="вид. накладні по ID товару">{{ row.TOVAR_ID }} >> </a>
    </td>
    <td class="col-limit">
      <a href="/mnakl?tov_code={{ row.TOV_CODE }}"
         title="вид. накладні по ном. номеру">{{ row.TOV_CODE }} >></a>
    </td>
    <td class="col-limit"  style="col-limit">{{ row.TOV_NAME }}</td>
    <td class="col-limit">{{ row.TOV_KOLVO }}</td>
    <td class="col-limit">{{ row.TOV_CENA | currency_format_ua }}</td>
  </tr>
  {% endfor %}
    </tbody>
</table>


<script src="{{ url_for('static', filename='js/tables.js') }}"></script>
    <script>
        $(document).ready(function() {
            initDefaultDataTable('#tList', {
                "pageLength": 25 // Можна змінити параметри тільки для цієї сторінки
            });
        });
    </script>
{% endblock %}
