{% extends "base_tmp.html" %}
{% block content %}

<style>
/* Додайте це до вашого CSS. Це гарантує, що текст переноситься */
.table-responsive th,
.table-responsive td {
    white-space: normal !important;
}

/* Якщо вам потрібен менший шрифт, додайте це теж */
.custom-font-small {
    font-size: 14px;
}
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex gap-1 align-items-center mb-1" method="post">
        <input class="form-control form-control-sm" style="width: 250px;" type="search" placeholder="Найменування" name="search" value="{{ search }}">
        <button class="btn btn-primary btn-sm bi-search" type="submit" > Шукати</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="copyTable()">📋 Копіювати таблицю</button>
      </form>
    </div>
  </div>
</nav>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">

{% if data %}
<!--<div class="table-responsive">-->
<table id="tList" class="table table-sm table-compact">
  <thead class="table-dark">
    <tr>
      <th class="text-wrap" style="max-width: 80px;">№ документу</th>
      <th class="text-wrap" style="max-width: 80px;">Дата документу</th>
      <th>Постачальник</th>
      <th>Стаття надходження</th>
      <th class="text-wrap" style="max-width: 100px;">№ док. постач.</th>
      <th class="text-wrap" style="max-width: 100px;">Дата док. постач.</th>
      <th>ID товару</th>
      <th>Номенк. №</th>
      <th>Найменування</th>
      <th>Кількість</th>
      <th>Ціна</th>
    </tr>
  </thead>
    <tbody>
  {% for row in data %}
  <tr>
    <td >{{ row.NU }}</td>
    <td >{{ row.DATE_DOK.strftime('%d.%m.%Y') }}</td>
    <td class="col-limit"  >{{ row.CLIENT }}</td>
    <td class="col-limit">{{ row.A_NAME }}</td>
    <td >{{ row.P_NU }}</td>
    <td >{{ row.P_DATE_DOK }}</td>
    <td >
      <a href="/mnakl?tovar_id={{ row.TOVAR_ID }}"
         title="вид. накладні по ID товару">{{ row.TOVAR_ID }} >> </a>
    </td>
    <td class="col-limit"  >
      <a href="/mnakl?tov_code={{ row.TOV_CODE }}"
         title="вид. накладні по ном. номеру">{{ row.TOV_CODE }} >></a>
    </td>
    <td class="col-limit"  >{{ row.TOV_NAME }}</td>
    <td >{{ row.TOV_KOLVO }}</td>
    <td >{{ row.TOV_CENA | currency_format_ua }}</td>
  </tr>
  {% endfor %}
    </tbody>
</table>
<!--</div>-->
  {% endif %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">

<script src="{{ url_for('static', filename='js/tables.js') }}"></script>

    <script>
        $(document).ready(function() {
            initDefaultDataTable('#tList', {
                "pageLength": 25 // Можна змінити параметри тільки для цієї сторінки
            });
        });
    </script>
{% endblock %}
