{% extends "base_tmp.html" %}
{% block content %}

<table id="tList" class="table table-sm table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Назва</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    {% for report in reports %}
    <tr>
      <td style="padding-top: 1px; padding-bottom: 1px;">{{ report[0] }}</td>
      <td class="fw-bold text-success" style="padding-top: 1px; padding-bottom: 1px;">{{ report[1] }}</td>
      <td>
        <a href="/reports2/{{ report[0] }} " class="btn btn-sm btn-outline-secondary" title="Edit">
          <i class="bi bi-pencil"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}