{% extends "base_tmp.html" %}
{% block content %}

<!-- &#45;&#45;     -->
{#<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex gap-1 align-items-center mb-1" method="post">
        <input class="form-control form-control-sm" style="width: 250px;"
               type="search"
               placeholder="Введіть ID товару"
               name="search_tovar"
               value="{{ search_tovar }}"
               required>
        <select class="form-select form-select-sm" name="sklad_id" style="width: 200px;" >
          <option value="0" {% if sklad_id == "0" or sklad_id == None or sklad_id == "" %}selected{% endif %}>
                -- всі склади --
          </option>
          {% for sklad in sklads %}
                <option value="{{ sklad.ID }}"{% if sklad.ID | string == sklad_id %}selected{% endif %}>{{ sklad.NAME }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-primary btn-sm bi-search" type="submit" > Шукати</button>
        <button type="button" class="btn btn-sm btn-primary" onclick="copyTable()">📋 Копіювати таблицю</button>
      </form>
    </div>
  </div>
</nav>#}

<div class="d-flex flex-wrap align-items-left gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-2 ">{{ title }}</h5>
    <form class="d-flex" method="post" style="margin: 0;">
        <div class="input-group input-group-sm" style="width: 500px;">
          <input class="form-control form-control-sm" style="width: 150px;"
               type="search"
               placeholder="ID товару"
               name="search_tovar"
               value="{{ search_tovar }}"
               required
                >
          <select class="form-select form-select-sm" name="sklad_id" style="width: 200px;" >
            <option value="0" {% if sklad_id == "0" or sklad_id == None or sklad_id == "" %}selected{% endif %}>
                  -- всі склади --
            </option>
            {% for sklad in sklads %}
                  <option value="{{ sklad.ID }}"{% if sklad.ID | string == sklad_id %}selected{% endif %}>{{ sklad.NAME }}</option>
            {% endfor %}
          </select>
            <button class="btn btn-success" type="submit">Шукати</button>
        </div>
    <button type="button" class="btn btn-outline-dark btn-sm" onclick="copyTable()">
        📋 Копіювати
    </button>
   </form>
</div>
{#
<div class="d-flex flex-wrap align-items-center gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-3">{{ title }}</h5>
    <form class="d-flex align-items-center gap-2 m-0" method="post" style="flex-grow: 1; max-width: 800px;">
        <div class="input-group input-group-sm table-panell">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalAdd">
                ➕ Додати
            </button>
            <input class="form-control input-serial " type="search" placeholder="Серійний..." name="search" value="{{ search }}">
            <button class="btn btn-success" type="submit">Шукати</button>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm text-nowrap" onclick="copyTable()">
            📋 Копіювати
        </button>
    </form>
</div>#}

   {% if total %}
    <div>
      <h6>Знайдено {{ total }} номерів {{ tov_name }}
       | Склад: {{ sklad_name }} </h6>
    </div>
   {% endif %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v={{ app_version }}">

  {% if result %}
      <table id="tList" class="table table-sm table-compact">
        <thead class="table-dark">
          <tr>
            <th>Серійний номер</th>
          </tr>
        </thead>
        <tbody>
          {% for u in result %}
          <tr><td>{{ u.SERIAL }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% elif search_term %}
    <div class="alert alert-warning">Товар не знайдено</div>
  {% endif %}


 <script src="{{ url_for('static', filename='js/tables.js') }}"></script>
    <script>
        $(document).ready(function() {
            initDefaultDataTable('#tList', {
                "pageLength": 25 // Можна змінити параметри тільки для цієї сторінки
            });
        });
    </script>
{% endblock %}



