{% extends "base_tmp.html" %}
{% block content %}
<div class="d-flex flex-wrap align-items-center gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-3">{{ title }}</h5>
        <form class="d-flex align-items-center gap-2 m-0" method="post" style="flex-grow: 1; max-width: 800px;">
            <input class="form-control input-serial " type="search" placeholder="Префікс..." name="pref">
            <input class="form-control input-serial " type="number" placeholder="Довжина..." name="len">
            <input class="form-control input-serial " type="number" placeholder="Кількість..." name="crow">
            <button class="btn btn-success" type="submit">Генерувати</button>
            <button type="button" class="btn btn-outline-dark btn-sm text-nowrap"> 📋 Копіювати</button>
    </form>
</div>


<table>
   <tr>
     <th>Номер</th>
   </tr>
<tbody>
{% for row in data %}
  <tr>
      <td> {{ row }}</td>
  </tr>
{% endfor %}
</tbody>
</table>


{% endblock %}