{% extends "base_tmp.html" %}
{% block content %}

<!-- &#45;&#45;     -->

<div class="d-flex flex-wrap align-items-left gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-2 ">{{ title }}</h5>
    <form class="d-flex" method="post" style="margin: 0;">
        <div class="input-group input-group-sm" style="width: 500px;">
          <input class="form-control form-control-sm" style="width: 150px;"
               type="search"
               placeholder="ID товару"
               name="search_tovar"
               value="{{ search_tovar }}"
               required
                >
          <select class="form-select form-select-sm" name="sklad_id" style="width: 200px;" >
            <option value="0" {% if sklad_id == "0" or sklad_id == None or sklad_id == "" %}selected{% endif %}>
                  -- всі склади --
            </option>
            {% for sklad in sklads %}
                  <option value="{{ sklad.ID }}"{% if sklad.ID | string == sklad_id %}selected{% endif %}>{{ sklad.NAME }}</option>
            {% endfor %}
          </select>
            <button class="btn btn-success" type="submit">Шукати</button>
        </div>
    <button type="button" class="btn btn-outline-dark btn-sm" onclick="copyTable()">
        📋 Копіювати
    </button>
   </form>
</div>

   {% if total %}
    <div>
      <h6>Знайдено {{ total }} номерів {{ tov_name }}
       | Склад: {{ sklad_name }} </h6>
    </div>
   {% endif %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}?v={{ app_version }}">

  {% if result %}
      <table id="tList" class="table table-main">
        <thead class="table-dark">
          <tr>
            <th>Серійний номер</th>
          </tr>
        </thead>
        <tbody>
          {% for u in result %}
          <tr><td>{{ u.SERIAL }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% elif search_term %}
    <div class="alert alert-warning">Товар не знайдено</div>
  {% endif %}


 <script src="{{ url_for('static', filename='js/tables.js') }}"></script>
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            initDefaultDataTable('#tList', {-->
<!--                "pageLength": 25 // Можна змінити параметри тільки для цієї сторінки-->
<!--            });-->
<!--        });-->
<!--    </script>-->
{% endblock %}



