{% extends "base_tmp.html" %}
{% block content %}


<div class="d-flex flex-wrap align-items-center gap-2 mb-2 p-2 bg-light border rounded">
    <h5 class="mb-0 me-3">{{ title }}</h5>
    <form class="d-flex align-items-center gap-2 m-0" method="post" style="flex-grow: 1; max-width: 800px;">
        <div class="input-group input-group-sm table-panell">
            <input class="form-control input-serial " type="search" placeholder="Серійний..." name="search" value="{{ search }}">
            <button class="btn btn-success" type="submit">Шукати</button>
        </div>
        <button type="button" class="btn btn-outline-dark btn-sm text-nowrap" onclick="copyTable()">
            📋 Копіювати
        </button>
    </form>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}?v={{ app_version }}">

<table id="tList" class="table table-sm table-compact table-hover ">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Номер акту</th>
      <th>Дата проводки</th>
      <th>Дата документу</th>
      <th>Сума акту</th>
      <th>Підрозділ</th>
      <th>Серійний номер</th>
      <th>Документи</th>
      <th>Мітка</th>
      <th>Дії</th>
    </tr>
  </thead>
<tbody>
  {% for row in data %}
  <tr class = "{{ mark_colors.get(row.DOC_MARK_TYPE, '') }}">
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.NUM }}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.NU }}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.DATE_DOK.strftime('%d.%m.%Y') }}</td>
    <td> {{ row.USER_DOC_DATE }}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.DOC_SUMM | currency_format_ua }}
        {% if row.IS_MOVE == 0 %} ⚠️ {% endif %}</td>
    <td style="padding-top: 1px; padding-bottom: 1px;">{{ row.SKLAD_NAME }}</td>
    <td class="text-success fw-bold" style="padding-top: 1px; padding-bottom: 1px;">{{ row.SERIAL }}</td>
    <td>{% if row.ACTVR_NU %}
        <strong>Акт ВР:</strong> <a href="/dispack/doc1/{{ row.ACTVR_ID | int }}"> {{ row.ACTVR_NU }}</a> <br>
        {% endif %}
        {% if row.UNIDOCUM_NU %}
        <strong>Втрата:</strong> <a href="/loss_edit/{{ row.UNIDOCUM_ID | int }}">{{ row.UNIDOCUM_NU }}</a> <br>
        {% endif %}
    </td>
    <td>{{ row.DOC_MARK_TYPE }}</td>
    <td>
     <a href="/snakl/{{ row.NUM }}" class="btn btn-sm btn-outline-secondary btn-xs">Деталі <i class="bi bi-pencil"></i></a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>


<script src="{{ url_for('static', filename='js/tables.js') }}"></script>
<script>
    $(document).ready(function() {
        initDefaultDataTable('#tList', {
            "pageLength": 25 // Можна змінити параметри тільки для цієї сторінки
        });
    });
</script>




{% endblock %}